# Ignore all virtual environments in any folder
**/venv/
**/venv_new/
venv/
venv_new/
venv_311/

# Ignore Python cache and sensitive files
**/__pycache__/
.env
*.pyc

# Ignore heavy models and temp files (RAG specific)
*.pkl
!**/placement_model.pkl
**/faiss_index/
temp.pdf
temp_user_resume.pdf
temp_policy.pdf
